[Unit]
Description=spring-test
After=syslog.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/service/spring-test
ExecStart=/home/ec2-user/service/spring-test/spring-test.jar
# Required on some systems
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=3

[Install]
WantedBy=multi-user.target
